fastapi>=0.115.2
uvicorn[standard]>=0.30.6
pymongo[srv]>=4.8.0
sentence-transformers>=3.0.1
scikit-learn>=1.5.1
python-dotenv>=1.0.1
numpy>=1.26.4
passlib[bcrypt]>=1.7.4
python-jose[cryptography]>=3.3.0
pydantic[email]>=2.9.2
requests>=2.32.3
